.blog-header {
  h1 {
    margin-bottom: .1em;
  }
  p.blog-date {
    color: $col-text-secondary;
  }
  p.blog-description {
    font-size: larger;
    margin-bottom: 0;
  }
  .blog-featured-image {
    width: 100%;
    height: 50vw;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    margin-bottom: -90px;
    margin-top: 2em;
  }
}

.blog-content {
  p {
    line-height: 2em;
  }
  ul {
    li {
      margin-bottom: 1em;
    }
  }

  .footnotes {
    padding-top: $vertical-spacing;
    font-size: smaller;
    hr {
      border: none;
      border-bottom: 1px solid $col-lines;
    }
  }
}