input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='password'],
textarea {
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  min-height: $input-height;
  height: $input-height; //set height for IE vertical alignment issue

  border: 1px solid $col-lines;
  border-radius: $br;

  color: $col-text-primary;
  font-family: $font-family;
  font-size: inherit;

  background-color: white;

  transition: border-color 0.5s, background-color 0.5s;

  &.big {
    font-size: larger;
    padding: 10px 15px;
  }

  &.hide-border:not(:focus):not(:hover):not(.ng-invalid) {
    border-color: transparent;
  }

  // only show border when in focus
  &.input-camouflaged {
    border-color: transparent;
    transition: border-color 0.3s;

    &:hover:not(:focus) {
      border-color: $col-lines;
    }
  }

  &:focus {
    outline: none;
    border-color: $col-active;
    color: $col-active;
  }
}

input[disabled],
textarea[disabled] {
  color: $col-text-muted;
}

textarea {
  font-size: inherit;
  padding-top: 10px;
  min-height: 100px;
}

form:not(.submitted) .show-submitted {
  opacity: 0;
  transform: scale3d(.9,.9,1);
  margin-top: -50px;
  pointer-events: none;
}

form.submitted {

  .hide-submitted {
    display: none;
  }

  .show-submitted {
    opacity: 1;
    transform: scale3d(1,1,1);
    transition: opacity .3s, transform .3s;
  }

}

.additional-fields {
  display: none;
}

form.show-additional-fields {
  .additional-fields {
    display: block;
  }
}

.form-row {
  margin-bottom: 15px;
 > label {
    display: block;
    margin-bottom: 10px;
  }
}

// Mailblue style overwrites

form._form._inline-form {
  margin-top: 0 !important;
  width: 100% !important;

  ._form-content {

    display: flex !important;
    flex-direction: column !important;
    gap: 15px;

    ._form_element {
      font-size: $font-size-default !important;
      margin: 0 !important;
      ._form-label {
        font-size: $font-size-default !important;
        font-weight: 600 !important;
        margin-bottom: 10px !important;
      }

      ._field-wrapper {
        input {
          width: 100% !important;
          max-width: 500px !important;
        }
      }
    }

    ._button-wrapper {
      margin: 0 !important;
      button {
        font-size: $font-size-default !important;
      }
    }
  }
}