// SIMPLE GRID - SASS/SCSS

// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background: $col-bg;
  color: $col-text-primary;

}

* {
  box-sizing: border-box;
  font-family: $font-family;
  line-height: $font-height;
}

// grid
$gutter: 60px;

section {
  width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;

  width: 100vw;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80vw;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75vw;
    max-width: $breakpoint-large;
  }

  .col {
    flex: 1 1;
    // border: 2px solid red;
    padding: 0 .5*$gutter;
  }
}

@media only screen and (max-width: $breakpoint-med) {
  .row {
    flex-wrap: wrap;
    .col {
      flex-basis: 100%;
      &.wrap-last {
        order: 99;
      }
    }
  }
}

// utility
.hidden-sm {
  @media only screen and (max-width: $breakpoint-small) {
    display: none !important;
  }
}

.hidden-large {
  @media only screen and (min-width: $breakpoint-large) {
    display: none !important;
  }
}