// SIMPLE GRID - SASS/SCSS

// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  // font-size: 100%;
  font-size: $font-size-default;
  background: white;
  color: $col-text-primary;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
  line-height: $font-height;
}

// grid
$gutter: 30px;

.container {
  // width: 100vw;
  width: 100%;
  margin: 0 auto;
  // padding: 0 $gutter;
  // border: 1px solid red;
  @media only screen and (min-width: $breakpoint-small) {
    width: 80vw;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75vw;
    max-width: $breakpoint-large;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5*$gutter;
  margin-right: -.5*$gutter;

  &.v-center {
    align-items: center;
  }

  // &:not(:last-child){
  //   margin-bottom: $gutter;
  // }

  .col {
    flex: 1 1;
    padding: 0 .5*$gutter;
    margin-top: .5*$gutter;
    margin-bottom: .5*$gutter;
  }
  .col.min-width {
    flex-basis: 300px;
  }

  .col.flex-0 {

    @media only screen and (min-width: $breakpoint-med) {
      flex: 0 0 auto;
    }
  }

}

@media only screen and (max-width: $breakpoint-med-max) {
  .row {
    flex-wrap: wrap;
    .col {
      flex-basis: 90%;
      &:not(:last-child){
        margin-bottom: $gutter;
      }
    }
  }
}

// utility
.hidden-sm {
  @media only screen and (max-width: $breakpoint-small-max) {
    display: none !important;
  }
}

.hidden-med {
  @media only screen and (max-width: $breakpoint-med-max) {
    display: none !important;
  }
}

.hidden-large {
  @media only screen and (min-width: $breakpoint-large) {
    display: none !important;
  }
}

// photo grid
.photo-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .photo {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-position: center;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
  }
  img {
    max-width: 500px;
    max-height: 500px;
  }
}