// SIMPLE GRID - SASS/SCSS
$vertical-spacing: 90px;

// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  // font-size: 100%;
  font-size: $font-size-default;
  background: white;
  color: $col-text-primary;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
  line-height: $font-height;
}

// grid
$gutter: 30px;

.container {
  // width: 100vw;
  width: 100%;
  margin: 0 auto;
  // padding: 0 $gutter;
  // border: 1px solid red;
  @media only screen and (min-width: $breakpoint-small) {
    width: 80vw;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75vw;
    max-width: $breakpoint-large;
  }
}

// new layout style
section.rcp-section {

  padding: $vertical-spacing 0;

  &.vertical-spacing {
    margin-bottom: $vertical-spacing;
  }

  .rcp-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;
    @media only screen and (min-width: $breakpoint-small) {
      width: 80vw;
    }
  
    @media only screen and (min-width: $breakpoint-large) {
      width: 75vw;
      max-width: $breakpoint-large;
    }
    
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5*$gutter;
  margin-right: -.5*$gutter;

  &.v-center {
    align-items: center;
  }

  .col {
    flex: 1 1;
    padding: 0 .5*$gutter;
  }
  .col.min-width {
    flex-basis: 300px;
  }
  .col.full-height {
    margin-top: -$vertical-spacing;
    margin-bottom: -$vertical-spacing;

    display: flex;
    align-items: center;
  }

  .col.flex-0 {

    @media only screen and (min-width: $breakpoint-med) {
      flex: 0 0 auto;
    }
  }

}

@media only screen and (max-width: $breakpoint-med-max) {
  .row {
    flex-wrap: wrap;
    .col {
      flex-basis: 90%;
      &:not(:last-child){
        margin-bottom: $gutter;
      }
      &.full-height {
        margin-top: 0;
        // margin-bottom: 0;
      }
    }
  }
}

// utility
.hidden-sm {
  @media only screen and (max-width: $breakpoint-small-max) {
    display: none !important;
  }
}

.hidden-med {
  @media only screen and (max-width: $breakpoint-med-max) {
    display: none !important;
  }
}

.hidden-large {
  @media only screen and (min-width: $breakpoint-large) {
    display: none !important;
  }
}
