.fa, .fab, .fal {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  vertical-align: -1px;

  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;

  // if before text, no margin left
  &:first-child {
    margin-left: 0;
  }
  // if after text, no margin right
  &:last-child {
    margin-right: 0;
  }
}

ul.icon-list {
  list-style: none;
  // padding-left: 10px;
}
