img {
  max-width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

img.reconcept-logo {
  height: 1em;
  vertical-align: text-bottom;
}

img.shadow {
  @include shadow;
}

img.w-100 {
  width: 100%;
}

img.w-50 {
  width: 100%;

  @media only screen and (min-width: $breakpoint-med) {
    width: 50%;
  }
}

img.w-75 {
  width: 100%;

  @media only screen and (min-width: $breakpoint-med) {
    width: 75%;
  }
}

img.max-width {
  max-width: 300px;
}

img.logo, img.store-logo {
  transition: filter 2s;
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
}
img.store-logo {
  max-width: 130px;
  display: block;
}

.screenshot {
  &.app {

    // undo bottom padding of container
    margin-bottom: -45px;
    
    &.max-height {
      // we only want to show the top part of the phone
      overflow: hidden;
      max-height: 600px;
    }
    
    img {
      margin: 0 auto;
      max-width: 400px;
      border-radius: 30px;
      @include shadow();
      // border: 3px solid $c-gray-darker;
      display: block;
    }
  }
}

// use 100% of the view width even outside column
// except on really large screens
img.vw-100 {
  max-width: none;
  width: 100vw;
  position: relative;
  left: -$gutter;

  @media only screen and (min-width: $breakpoint-small) {
    margin-left: -10vw;
  }

  @media only screen and (min-width: $breakpoint-med) {
    max-width: 100%;
    left: 0;
    margin: 0;
  }
}