
div.info-box,
p.info-box,
info-box {
  border: none;
  background-color: $col-bg;
  color: $col-text-primary;
  padding: 15px;
  border-radius: $br;

  &.positive {
    background-color: $col-positive-bg;
    color: $col-positive-dark;
  }

}
