$vertical-spacing: 140px;
$vertical-padding: 30px;

#content {
  // space for fixed topbar
  padding-top: 64px;
}

section {
  
  &.spaced {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
  }
  
  &.paper {
    .row {
      background: white;
      @include shadow;
      padding: 0 30px;
      border-radius: 2px;
    }
  }

  // colors
  &.padded {
    padding: $vertical-padding;
    border-radius: $br;
    h2, h3 {
      margin-top: 0;
    }
  }
  &.dark {
    background-color: $col-bg-darker;
  }
  &.blue {
    background-color: $col-brand;
  }
  &.blue-bright {
    background-color: $c-blue-bright;
  }
  &.green {
    background-color: $c-green;
  }
  &.yellow {
    background-color: $c-yellow;
  }
  
  &.dark, &.blue, &.green, &.yellow, &.blue-bright {
    color: $col-text-light;
    a {
      color: white;
    }
  }

}

.row {
  &.padded {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto; //align self centered in column
  > * {
    padding: 10px;
    width: 200px;
  }
}