$vertical-spacing: 140px;
$vertical-padding: 30px;

#content {
  // space for fixed topbar
  padding-top: 64px;
}

section {
  
  &.spaced {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
  }
  
  &.paper {
    .row {
      background: white;
      @include shadow;
      padding: 0 30px;
      border-radius: 2px;
    }
  }

  // colors
  &.padded {
    padding: $vertical-padding;
    border-radius: $br;
    h2, h3 {
      margin-top: 0;
    }
  }

  &.padded-v {
    padding: $vertical-padding 0;
    h2, h3 {
      margin-top: 0;
    }
  }

  &.dark {
    background-color: $col-bg-darker;
  }
  &.blue {
    background-color: $col-brand;
  }
  &.bright-blue {
    background-color: $c-blue-bright;
  }
  &.green {
    background-color: $c-green;
  }
  &.yellow {
    background-color: $c-yellow;
  }
  &.gray {
    background-color: $col-lines;
  }
  
  &.dark, &.blue, &.green, &.yellow, &.bright-blue {
    color: white;
    p {
      color: rgba(white, .9);
    }
    a {
      color: white;
    }
  }

  .row.alternating {
    align-items: center;
  }

  @media only screen and (min-width: $breakpoint-med) {
    // alternate the order of columns for each row
    // for each other row, put the first column last
    &:nth-child(even){
      .row.alternating {
        .col:first-child {
          order: 99;
        }
      }
    }
    // when the order is not swapped, we want to align the media in the right column right
    &:nth-child(odd){
      .row.alternating {
        .col:last-child:not(:first-child){
          text-align: right;
        }
      }
    }
  }
  // on small screens, align the media in the last column center
  @media only screen and (max-width: $breakpoint-med-max) {
    .row.alternating {
      .col:last-child:not(:first-child){
        text-align: center;
      }
    }
  }

}

.row {
  &.padded {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }

  &.epa-levels {
    // flex-wrap: nowrap;
    margin-bottom:0;
    .col-graphic {  
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      img {
        width: 350px;
      }
      // swap on small screens
      @media only screen and (max-width: $breakpoint-med-max) {
        order: 1;
      }
    }
  }
}

.col {
  &.padded {
    padding-top: .5*$vertical-padding;
    padding-bottom: .5*$vertical-padding;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  // mobile
  > .grid-cell {
    padding: 15px;
    width: 100%;
    text-align: center;
    img {
      max-width: 150px;
    }
  }

  &.min-two-columns > .grid-cell {
    width: 50%;
  }

  // medium
  @media only screen and (min-width: $breakpoint-small) {
    &.three-columns > .grid-cell {
      width: 50%;
    }
  
    &.four-columns > .grid-cell {
      width: 33%;
    }
  
    &.five-columns > .grid-cell {
      width: 33%;
      // in a five column layout displayed on medium screen we make thirds
      // the nice layout would be 3x3, so every tenth item would look ugly
      // we hide it
      &:nth-child(10){
        display: none;
      }
    }
    
  }

  // large
  @media only screen and (min-width: $breakpoint-med) {

    &.two-columns > .grid-cell {
      width: 50%;
    }
    
    &.three-columns > .grid-cell {
      width: 33%;
    }
  
    &.four-columns > .grid-cell {
      width: 25%;
    }
  
    &.five-columns > .grid-cell {
      width: 20%;
      &:nth-child(10){
        display: initial;
      }
    }
  }
}

.tour-embed-container {
  width: 100%;
  height: 500px;
  iframe {
    width: 100%;
    height: 100%;
  }
}