$vertical-spacing: 140px;
$vertical-padding: 30px;

#content {
  // space for fixed topbar
  padding-top: 64px;
}

section {
  
  &.spaced {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
  }
  
  &.paper {
    .row {
      background: white;
      @include shadow;
      padding: 0 30px;
      border-radius: 2px;
    }
  }

  // colors
  &.padded {
    padding: $vertical-padding;
    border-radius: $br;
    h2, h3 {
      margin-top: 0;
    }
  }
  &.dark {
    background-color: $col-bg-darker;
  }
  &.blue {
    background-color: $col-brand;
  }
  &.blue-bright {
    background-color: $c-blue-bright;
  }
  &.green {
    background-color: $c-green;
  }
  &.yellow {
    background-color: $c-yellow;
  }
  
  &.dark, &.blue, &.green, &.yellow, &.blue-bright {
    color: $col-text-light;
    a {
      color: white;
    }
  }

}

.row {
  &.padded {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: white;
  border-radius: $br;

  // mobile
  > .grid-cell {
    padding: 30px;
    flex: 0 0 50%;
    text-align: center;
    img {
      max-width: 150px;
    }
  }

  // medium
  @media only screen and (min-width: $breakpoint-small) {
    &.three-columns > .grid-cell {
      flex-basis: 33%;
    }
  
    &.four-columns > .grid-cell {
      flex-basis: 33%;
    }
  
    &.five-columns > .grid-cell {
      flex-basis: 33%;
      // in a five column layout displayed on medium screen we make thirds
      // the nice layout would be 3x3, so every tenth item would look ugly
      // we hide it
      &:nth-child(10){
        display: none;
      }
    }
    
  }

  // large
  @media only screen and (min-width: $breakpoint-med) {
    &.three-columns > .grid-cell {
      flex-basis: 33%;
    }
  
    &.four-columns > .grid-cell {
      flex-basis: 25%;
    }
  
    &.five-columns > .grid-cell {
      flex-basis: 20%;
      &:nth-child(10){
        display: initial;
      }
    }
  }
}