/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@font-face {
  font-family: "Jasper Daniels";
  src: url("/JasperDaniels.woff2") format("woff2"),
    url("/JasperDaniels.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

$col-blue: #568ea3;
$col-blue-2: #68c3d4;
$col-drab: #65532f;
$col-pine: #262a10;
$col-white: #f7f7f2;

$col-bg: $col-white;
$col-accent: $col-drab;
$col-brand: $col-blue;
$col-hover: $col-blue-2;
$col-dark: $col-pine;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: lighter;
  background: $col-bg;

  &.dark {
    background: $col-dark;
    color: white;

    section .section-title {
      color: white;
    }
    a {
      color: $col-bg;
      text-decoration: underline;
    }

    // bigger icons
    // .inline-svg {
    //   width: 2rem;
    //   height: 2rem;
    // }
  }

  &.black {
    background: black;
    color: white;

    section .section-title {
      color: white;
    }
    a {
      color: $col-bg;
      text-decoration: underline;
    }
  }
}

.container {
  margin: 100px auto;
  width: 80%;
  max-width: 1200px;

  &.container-live {
    width: 100%;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    padding: 30px;

    .nav-item {
      flex: 1;
      text-align: center;

      .nav-link {
        color: $col-dark;
        font-size: 24px;
        font-family: "Jasper Daniels";
        text-decoration: none;
        transition: border-bottom-color 0.3s;
        border-bottom: 2px solid transparent;

        &.active,
        &:hover {
          border-bottom: 2px solid $col-brand;
        }
      }
    }
  }

  section {
    margin-bottom: 50px;

    .section-title {
      text-align: center;
      font-family: "Jasper Daniels";
      color: $col-dark;
      font-size: 42px;
      padding: 30px;
      padding-top: 0;
    }

    $m: 30px;
    .row {
      margin-left: -$m;
      margin-right: -$m;
      display: flex;
      flex-wrap: wrap-reverse;

      .col {
        flex: 1;
        padding-left: $m;
        padding-right: $m;
        min-width: 400px;

        &.col-bg-black {
          background: black;
        }
        &.col-bg-white {
          background: white;
        }
      }
    }

    &.padded {
      padding: 30px;
    }

    &.accent {
      background-color: $col-blue;
      color: white;
      a {
        color: rgba(white, 0.7);
        &:hover {
          color: white;
        }
      }
    }
  }
}

p {
  margin-top: 0;
}

.center {
  text-align: center;
}

.muted {
  opacity: 0.4;
}

a {
  color: $col-brand;
  transition: color 0.4s;
  text-decoration: none;

  &:hover {
    color: $col-hover;
  }

  &.icon {
    font-size: 20px;
    margin: 10px;
    text-decoration: none !important;
    .inline-svg {
      margin-right: 8px;
    }
  }

  &.block {
    display: block;
    border: 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
  }
}

.listen-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  a.listen-button {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .logo {
      flex-grow: 1;
      text-align: left;
      img {
        max-height: 50px;
        max-width: 100px;
      }
    }
    .button {
      flex-grow: 0;
      width: 100px;
      border-radius: 2px;
      border: 1px solid $col-blue;
      padding: 5px;
      margin-left: 20px;
      transition: background-color 0.3s;
    }

    &:hover {
      .button {
        background-color: $col-blue;
        color: white;
      }
    }
  }
}

// bandsintown
.bit-top-track-button,
.bit-nav-bar-container {
  display: none !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.image-container {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  &.big {
    height: 450px;
  }

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  img.logo {
    width: 260px;
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
  }

  h2 {
    font-weight: normal;
    margin-top: 40px;
    animation: fade-in 5s;
    animation-fill-mode: both;
    animation-delay: 0.8s;
  }
}

.image-container-promo {
  margin: 30px;
  margin-bottom: 0;
  background-image: url("/fotos/band3.jpg");
  background-attachment: initial;
}

.separator {
  height: 30px;
  margin-left: -30px;
  margin-right: -30px;

  background: $col-accent;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.27198%;
}

.video-container iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.photo {
  width: 100%;
}
img.photo-bio {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 30px;
  float: right;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
img.cover-art {
  width: 100%;
  max-width: 250px;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.41);
}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

// fontawesome icons
.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

// bio
#bio {
  .bio-dutch {
    display: none;
  }
  .bio-english {
    display: block;
  }
  .toggle-dutch {
    display: block;
  }
  .toggle-english {
    display: none;
  }
}

#bio.show-dutch {
  .bio-dutch {
    display: block;
  }
  .bio-english {
    display: none;
  }
  .toggle-dutch {
    display: none;
  }
  .toggle-english {
    display: block;
  }
}

// blind promo
$col-blind: #881e0a;
.container-blind-promo {
  background: $col-dark;
  margin: 0;
  padding: 50px;
  width: 100%;
  max-width: none;
  min-height: 800px;
  h1 {
    color: $col-blind;
    font-size: 30px;
    margin-bottom: 30px;
  }
  a.icon {
    color: white;
  }
}
