$navbar-height: 64px;
$gap: 5px;

nav.nav-header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
  font-size: $font-size-small;
  @include light-shadow();

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .main-header-bar {
    display: flex;

    ul.nav-logo {
      display: flex;
      align-items: center;
      gap: $gap;  
    }

    ul.nav-main {
      display: flex;
      gap: $gap;

      li.main-nav-item {
        display: block;

        > a.nav-link {
          display: block;
          text-decoration: none;
          transition: background-color .3s;
          color: $col-text-secondary;
          padding: 20px;
          border-radius: $br;
        }
        &.expanded > a.nav-link, > a.nav-link:hover {
          color: $col-brand;
          background-color: $col-brand-bg;
        }
        &.active > a.nav-link {
          color: $col-brand;
          background-color: $col-brand-bg;
          padding-bottom: (20px-2px);
          border-bottom: 2px solid $col-brand;
        }
      }
    }

    ul.nav-items-right {
      display: flex;
      gap: $gap;
      white-space: nowrap;
      margin-left: auto;
      align-items: center;
    }

  }

  // subnav
  li.nav-item.expandable {
    nav {
      display: none;

      ul li.nav-item.sub-nav-item {
        display: block;
        width: 100%;

        a.nav-link {
          display: block;
          text-decoration: none;
          transition: background-color .3s;
          color: $col-text-secondary;
          padding: 20px;
          padding-left: 30px;
          border-radius: $br;

          .green.label {
            padding: 2px 3px;
            background: $c-green;
            color: white;
            border-radius: 2px;
          }
        }

        &.active a.nav-link, a.nav-link:hover {
          color: $col-brand;
          background-color: $col-brand-bg;
        }
      }
    }

    &.expanded {
      nav {
        display: initial;
      }
    }
  }

  li.nav-item.no-shrink {

      flex: 0 0 auto;
  }
  
}

// Mobile only
@media only screen and (max-width: $breakpoint-large-max) {
  // main header bar
  nav.nav-header .main-header-bar ul.nav-main {
    display: none;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background: white;

    padding: 0;
    margin: 0;

    flex-direction: column;
    align-items: center;

    li.main-nav-item {
      width: 80vw;

      // main header nav item
      > a.nav-link {
        display: block;
      }

      // subnav
      nav {
        ul {

          display: flex;
          flex-direction: column;
          align-items: flex-start;

          li a.nav-link {
            .description {
              display: none
            }
          }

        }
      }
    }
  }

  nav.nav-header {
    
    .nav-main-toggle {
      .fal {
        margin: 0 !important;
        margin-right: 10px !important;
      }
    }
    .show-expanded {
      display: none;
    }
    
    &.expanded {
      .show-expanded {
        display: initial;
      }
      .hide-expanded {
        display: none;
      }
      .main-header-bar ul.nav-main {
        display: flex;
      }
    }
  }
}

// Big screens
@media only screen and (min-width: $breakpoint-large) {
  
  nav.nav-header {

    .main-header-bar {
      position: relative;
      display: flex;
      padding-top: $gap;
      padding-bottom: $gap;
      align-items: center;
  
      ul.nav-main {
        margin-left: 20px;
  
        li.nav-item {

          a.nav-link {
            display: flex;
            align-items: center;
          }
        }
      }
  
    }
    
    ul {
      nav {
        position: fixed;
        left: 0;
        top: $navbar-height+(2*$gap)-2px;
        bottom: 0;
        width: 100%;
        background-color: rgba(black, .2);
        
        .nav-bg {
          background: white;
          padding-top: $gap;
          padding-bottom: $gap;
          z-index: 2;
        }
        
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            flex-basis: 25%;
            flex-shrink: 0;

            a.nav-link {
              padding: 20px 20px;
              height: 100%;

              .title {
                display: block;
                margin-bottom: 5px;
                color: $col-brand;
              }
              .description {
                display: block;
                color: $col-text-secondary;
                font-size: smaller;
              }
            }
          }
        }
      }

    }
  }
}