<section class="dark footer">

  <div class="container">
    <div class="row padded">
      <div class="col">
        <img class="reconcept-logo" src="/svg/logo-white.svg"/>

        <p class="smaller">
          &copy; {{ now.Format "2006"}} Reconcept
        </p>

        <ul class="icon-list">
          <li>
            <span class="fab fa-linkedin"></span>
            <a
              href="https://www.linkedin.com/company/reconcept-it/"
              target="_blank"
              >Volg ons op LinkedIn</a
            >
          </li>
        </ul>

        <a
          href="https://portfolio.reconcept.nl"
          target="_blank"
          class="green button"
          >
          <span class="fal fa-lock"></span>
          <span>Log in</span>
        </a>

        <br/>
        <br/>

        <a
          href="/support"
          target="_blank"
          class="white button"
          >
          <span class="fal fa-question-circle"></span>
          <span>Support</span>
        </a>

      </div>

      <div class="col">
        <b>
          Product
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "products") -}}
        </ul>
      </div>

      <div class="col">
        <b>
          Toepassingen
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "applications") -}}
        </ul>
      </div>
      
      <div class="col">
        <b>
          Werken bij Reconcept
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "vacancies") -}}
        </ul>

        <b>
          Meer informatie
        </b>
        <ul>
          {{- partial "footer-nav-items" .Site.Menus.secondary -}}
        </ul>
      </div>
      
    </div>
  </div>
</section>

