<section class="dark footer">

  <div class="container">
    <div class="row padded">

      <div class="col">
        <b>
          Product
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "products") -}}
        </ul>

        <b>
          Toepassingen
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "applications") -}}
        </ul>
      </div>

      <div class="col">
        <b>
          Modules
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "modules") -}}
        </ul>
      </div>
      
      <div class="col">
        <b>
          Werken bij Reconcept
        </b>
        <ul>
          {{- partial "footer-nav-sub-items" (dict "context" . "submenu" "vacancies") -}}
        </ul>

        <b>
          Meer informatie
        </b>
        <ul>
          {{- partial "footer-nav-items" .Site.Menus.secondary -}}
        </ul>
      </div>

      <div class="col">
        <img class="reconcept-logo" src="/svg/logo-white.svg"/>

        <ul class="icon-list">
          <li>
            <span class="fab fa-linkedin"></span>
            <a
              href="https://www.linkedin.com/company/reconcept-it/"
              target="_blank"
              >Volg ons op LinkedIn</a
            >
          </li>
        </ul>

        <ul>
          <li>

            <a
              href="/login"
              target="_blank"
              class="green button"
              >
              <span class="fal fa-lock"></span>
              <span>Log in</span>
            </a>

          </li>
          <li>

            <a
              href="/support"
              target="_blank"
              class="white button"
              >
              <span class="fal fa-question-circle"></span>
              <span>Support</span>
            </a>
        
          </li>
          <li>
            
            <a href="https://itunes.apple.com/nl/app/reconcept-portfolio/id1460775077" target="_blank">
              <img class="store-logo" src="/integrations/app-store.png"/>
            </a>

          </li>
          <li>

            <a href="https://play.google.com/store/apps/details?id=nl.reconcept.portfolio.universal" target="_blank">
              <img class="store-logo" src="/integrations/play-store.png"/>
            </a>

          </li>
          <li>
            <a href="/products/information-security">
              <img class="footer-logo" src="/graphics/logo-iso.png"/>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</section>

