<head>
  <title>{{.Title}} &middot; {{ .Site.Title }}</title>
  {{ $sass := resources.Get "sass/main.scss" }} {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{.Description}}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicon.png" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="canonical" href="{{ .Permalink }}" />

  <meta content="{{ .Site.Title }}" property="og:site_name" />
  <meta content="{{.Title}} &middot; {{ .Site.Title }}" property="og:title" />
  <meta content="website" property="og:type" />
  <meta content="{{ .Permalink }}" property="og:url" />
  <meta content="{{ .Description }}" property="og:description" />
  <meta content="{{ .Site.BaseURL }}{{ .Site.Param "featured_image" }}" property="og:image"/>
  
  {{ $script := resources.Get "scripts/main.js" }}
  {{ $built := $script | js.Build "main.js" }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
  
</head>
