<nav class="nav-header">
  <div class="row">
    <div class="col">

      <ul>
        <li class="expandable nav-item" js-subnav>
          <a class="nav-link" href="/" js-subnav-toggle>
            Producten

            <!-- angle icon -->
            <img class="icon icon-expand" src="/icons/angle-down.svg"/>
          </a>

          <!-- submenu -->
          <nav>
            <div class="nav-bg">
              <div class="row">
                <div class="col">
                  <ul>
                    <li class="nav-item">
                      <a class="nav-link" href="/">
                        <span class="title">
                          AIOS-Portfolio
                        </span>
                        <span class="description">
                          Ontdek het meest gebruiksvriendelijke portfolio voor 
                          AIOS.
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">
                        <span class="title">
                          AIOS-Portfolio
                        </span>
                        <span class="description">
                          Ontdek het meest gebruiksvriendelijke portfolio voor 
                          AIOS.
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">
                        <span class="title">
                          AIOS-Portfolio
                        </span>
                        <span class="description">
                          Ontdek het meest gebruiksvriendelijke portfolio voor 
                          AIOS.
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">
                        <span class="title">
                          AIOS-Portfolio
                        </span>
                        <span class="description">
                          Ontdek het meest gebruiksvriendelijke portfolio voor 
                          AIOS.
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">
                        <span class="title">
                          AIOS-Portfolio
                        </span>
                        <span class="description">
                          Ontdek het meest gebruiksvriendelijke portfolio voor 
                          AIOS.
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">
            Werken bij Reconcept
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">
            Contact
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
