<head>
  <title>{{.Title}} &middot; {{ .Site.Title }}</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{.Description}}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicon.png" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="canonical" href="{{ .Permalink }}" />

  <meta content="{{ .Site.Title }}" property="og:site_name" />
  <meta content="{{.Title}} &middot; {{ .Site.Title }}" property="og:title" />
  <meta content="website" property="og:type" />
  <meta content="{{ .Permalink }}" property="og:url" />
  <meta content="{{ .Description }}" property="og:description" />
  <meta content="{{ .Site.BaseURL }}{{ if isset .Params "featured_image" }}{{ .Params.featured_image }}{{ else }}{{ .Site.Param "featured_image" }}{{ end }}" property="og:image"/>
  
  {{ $script := resources.Get "scripts/main.js" }}
  <!-- 
    note: disabled minify because somehow it messed up the gql tag
    {{ $built := $script | js.Build "main.js" | minify }} -->
  {{ $built := $script | js.Build "main.js" }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
  
  <!-- inline css -->
  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
  <style>
    {{ $style.Content | safeCSS }}
  </style>

  <!-- cookiebot -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9002789b-827f-4bb2-8c2a-a001eb76fd1d" data-blockingmode="auto" type="text/javascript"></script>
  
</head>
