<div class="row">
  <div class="col">
    <a class="big red full-width button" href="/vacancies/backend">
      Vacature Senior Back End Developer
    </a>
  </div>
  <div class="col">
    <a class="big yellow full-width button" href="/vacancies/backend-junior">
      Vacature Junior Back End Developer
    </a>
  </div>
  <div class="col">
    <a class="big green full-width button" href="/vacancies/stage-backend">
      Stageplaats Back End Developer
    </a>
  </div>
  <div class="col">
    <a class="big blue full-width button" href="/vacancies/stage-frontend">
      Stageplaats Front End Developer
    </a>
  </div>
</div>