<section class="rcp-section light-blue">
  <div class="rcp-container">

      <h2 class="center">
        Ontdek Reconcept voor jouw situatie
      </h2>

      <div class="row">
        <div class="col">

          <div class="double-padded vertical tile fill">
            <h3>
              EPA-Portfolio Medisch Professsionals
            </h3>

            <p>
              Ontdek het meest gebruiksvriendelijke portfolio voor AIOS, ANIOS en medisch specialisten.
            </p>

            <div class="flex-end">
              <a href="/product/epa-portfolio" class="blue button">
                <span>
                  Lees meer
                </span>
                <span class="fal fa-arrow-right"></span> 
              </a>
            </div>
          </div>
        </div>
        <div class="col">

          <div class="double-padded vertical tile fill">

            <h3>
              EPA-portfolio VVO en MOO
            </h3>

            <p>
              Breng flexibel opleiden in de praktijk met een portfolio dat naadloos aansluit bij de praktijk.
            </p>

            <div class="flex-end">
              <a href="/toepassingen/vvo-moo" class="blue button">
                <span>
                  Lees meer
                </span>
                <span class="fal fa-arrow-right"></span> 
              </a>
            </div>
          </div>
        </div>
        <div class="col">

          <div class="double-padded vertical tile fill">

            <h3>
              Kwaliteitscyclus
            </h3>

            <p>
              Werk aan de kwaliteit van de opleiding met de PDCA-cyclus in het Reconcept kwaliteitsdossier.
            </p>

            <div class="flex-end">
              <a href="/product/kwaliteitscyclus" class="blue button">
                <span>
                  Lees meer
                </span>
                <span class="fal fa-arrow-right"></span> 
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>