
<form id="contactForm" name="contactForm" action="" class="contact-form" js-contact-form>
        
  <div class="info-box positive show-submitted">
    <span class="fal fa-paper-plane"></span> 
    <span>Bedankt voor je aanvraag. We nemen zo snel mogelijk contact met je op om een demo in te plannen!</span>
  </div>
  
  <div class="hide-submitted">
    <div class="form-row">
      <input type="hidden" name="to_email" placeholder="Naar e-mailadres" value="{{ default "sales+webform@reconcept.nl" (.Get 0) }}"/>
      <input type="hidden" name="subject" placeholder="Onderwerp" value="Demo-aanvraag via website: {{ .Page.Name }} <due today> <assign joost@reconcept.nl> <tag webform>"/>
      <label for="name">
        Je naam*
      </label>
      <input type="text" name="name" placeholder="Je naam" required/>
    </div>
    <div class="form-row">
      <label for="name">
        Je e-mailadres*
      </label>
        <input type="email" name="email" placeholder="Je e-mailadres" required/>
    </div>
    <div class="form-row">
      <label for="name">
        Je telefoonnummer
      </label>
      <input type="tel" name="telephone" placeholder="Je telefoonnummer"/>
    </div>
    <div class="form-row">
      <label>Waar heb je interesse in?</label>
      <div>
        <input type="radio" id="portfolio" name="selection" value="Portfolio" required />
        <label for="portfolio">Reconcept Portfolio</label>
      </div>
    
      <div>
        <input type="radio" id="kwaliteitsdashboard" name="selection" value="Kwaliteitsdashboard" required />
        <label for="kwaliteitsdashboard">Reconcept Kwaliteitsdashboard</label>
      </div>
    
      <div>
        <input type="radio" id="beide" name="selection" value="Beide" required />
        <label for="beide">Beide</label>
      </div>
    </div>
    <div class="form-row">
      <label for="name">
        Overige opmerkingen
      </label>
      <textarea name="description" placeholder="Overige opmerkingen"></textarea>
    </div>

    <div class="form-row">
      <div>
        <input type="checkbox" id="check-agree" name="agree" required />
        <label for="check-agree">
          Ik stem ermee in dat mijn gegevens worden verwerkt volgens het <a href="/privacy/website" target="_blank">privacybeleid</a> van de Reconcept website
        </label>
      </div>
    </div>
    <div class="form-row">
      <button type="submit" class="bright-blue button" js-contact-form-submit>
        <span>
          {{ default "Aanvragen" (.Get 1) }}
        </span>
        <span class="fal fa-paper-plane"></span> 
      </button>
    </div>
  </div>

</form>