
<div class="tile-container">

{{ range (where site.RegularPages "Section" "events") }}
  
  {{ if (time .Params.date).After now }}

      <div class="media-tile">
        <div class="featured-image" style="background-image: url({{ .Params.featured_image }})"></div>
        <div class="tile-content">
          <h3>
            {{ .Title }}
          </h3>
          <p>
            {{ .Description }}
          </p>

          <a class="blue button" href="{{ .Permalink }}">
            <span>Lees meer</span>
            <span class="fal fa-angle-right"></span>
          </a>
        </div>
      </div>

      
      {{ end }}
      {{ end }}
      
      <div class="show-if-only">
        We hebben momenteel niets op de planning staan.
      </div>

</div>