
<section class="aandacht-voor-anios padded-v">
  <div class="container">

      <div class="row v-center">
        <div class="col">

          <h2>
            Ontdek Aandacht voor Anios
          </h2>
          <p>
            Met ons  initiatief <i>Aandacht voor Anios</i> zetten we ons in om startende artsen, die bijna anios worden of al een tijdje anios zijn, te ondersteunen bij actuele thema's en uitdagingen waar zij tegenaan lopen in deze fase van hun loopbaan.
            Bezoek de officiële website voor relevante kennis en inspiratie via artikelen, blogs, webinars en evenementen.
          </p>
          
          <a class="red button" href="https://aandachtvooranios.nl" target="_blank">
            <span>Ga naar de website</span>
            <span class="fal fa-angle-right"></span>
          </a>

        </div>

        <div class="col">
          <img src="/logo/aandacht-voor-anios.png"/>
        </div>
      </div>

  </div>
</section>