
<section class="rcp-section gray">
  <div class="rcp-container">

    <div class="row">

      <div class="col center">

        <h2>
          Plan een demo in
        </h2>

        <p>
          We helpen organisaties om hun mensen zo flexibel op te leiden als de wereld om hen heen. Dat noemen we skills-based opleiden.
        </p>
        <p>
          Plan een demo met ons in om te ontdekken wat we voor je kunnen betekenen.
        </p>

        <p>
          <a class="green button" href="/plan-een-demo-in">
            
            <span>
              Plan nu een demo in
            </span>
            <span class="fal fa-arrow-right"></span> 
          </a>
        </p>

      </div>

    </div>
  </div>
</section>