
</div>

  <section class="gray spaced center padded">
    <div class="container">

        <div class="row">
          <div class="col">

            <h2>
              Direct toegang tot relevante <span class="blue highlight">e-learning</span> 
            </h2>
            <p>
              In Reconcept kan relevante e-learning beschikbaar worden gesteld. 
              Door te koppelen met e-learningaanbieders kunnen behaalde resultaten direct naar het portfolio worden teruggeschreven.
            </p>
            
            <a class="blue button" href="/products/content">
              <span>Lees meer over e-learning</span>
              <span class="fal fa-angle-right"></span>
            </a>

          </div>
        </div>

    </div>
  </section>

<div class="container">