<section class="rcp-section blue">
  <div class="rcp-container">

    <div class="alternating row">
      <div class="col">

        <h2>
          Altijd bij de hand met de Reconcept app
        </h2>
        <p>
          Reconcept werkt op grote schermen en tablets. 
          Voor de smartphone is er een handige app met een overzichtelijk dashboard. 
          Daarin zit alles wat je in de dagelijkse praktijk nodig hebt.
        </p>
        
        <a class="white button" href="/product/app">
          <span>Lees meer over de app</span>
          <span class="fal fa-angle-right"></span>
        </a>

      </div>

      <div class="col">

        <div class="app screenshot max-height">
          <img src="/screenshots/app/{{ .Get 0 }}.jpg"/>
        </div>

      </div>
    </div>

  </div>
</section>