
<section class="aandacht-voor-anios padded-v">
  <div class="container">

      <div class="row v-center">
        <div class="col">

          <h2>
            De Bewuste Basisarts
          </h2>
          <p>
            Met ons initiatief De Bewuste Basisarts zetten we ons in om startende artsen te ondersteunen. Bewuste keuzes maken voor jezelf, je toekomst als arts en daarnaast ook werk en privé in balans houden, is niet makkelijk. De Bewuste Basisarts is er om je te helpen. Je kunt ervaringen van anderen lezen in de gastblogs en interviews, maar ook mede-artsen ontmoeten tijdens ons volgende event.
            Bezoek de officiële website voor relevante kennis en inspiratie via artikelen, blogs, webinars en evenementen.
          </p>
          
          <a class="red button" href="https://bewustebasisarts.nl" target="_blank">
            <span>Ga naar de website</span>
            <span class="fal fa-angle-right"></span>
          </a>

        </div>

        <div class="col">
          <img src="/logo/bewuste-basisarts.png"/>
        </div>
      </div>

  </div>
</section>