
<section class="rcp-section gray">
  <div class="rcp-container">

    <div class="row">

      <div class="col center">

        <h2>
          Plan een demo in
        </h2>

        <p>
          Wil je onze oplossingen in actie zien?
          Plan zelf een demo met ons in op een tijd die je uitkomt.
        </p>

        <p>
          <a class="green button" href="/plan-een-demo-in/{{ .Get 0 }}">
            
            <span>
              Plan nu een demo in
            </span>
            <span class="fal fa-arrow-right"></span> 
          </a>
        </p>

      </div>

    </div>
  </div>
</section>