
<form id="contactForm" name="contactForm" action="" class="contact-form" js-contact-form>
        
  <div class="info-box positive show-submitted">
    <span class="fal fa-paper-plane"></span> 
    <span>Bedankt voor je aanmelding. We houden je op de hoogte!</span>
  </div>
  
  <div class="row hide-submitted">
    <input type="hidden" name="to_email" placeholder="Naar e-mailadres" value="{{ default "info@reconcept.nl" (.Get 0) }}"/>
    <input type="hidden" name="subject" placeholder="Onderwerp" value="Houd-me-op-de-hoogte {{ .Page.Name }}"/>
    <div class="col">
      <input type="text" name="name" placeholder="Je naam" required/>
    </div>
    <div class="col">
      <input type="email" name="email" placeholder="Je e-mailadres" required/>
    </div>
    <div class="col">
      <button type="submit" class="green button full-width" js-contact-form-submit>
        Verzenden
      </button>
    </div>
  </div>

</form>