
<section class="rcp-section dark">
  <div class="container">
    <div class="row">

      <div class="col center">

        <h2>
          Hoe is het om te <span class="">werken bij Reconcept?</span> Bekijk de video!
        </h2>

        <div class="larger video">
          <iframe src="https://player.vimeo.com/video/949902106?autoplay=0&color=27BAFF&title=0&byline=0&portrait=0&dnt=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

      </div>

    </div>
  </div>
</section>