
<section class="spaced">
  <div class="row">

    <div class="col">

      <h2>
        <span class="blue highlight">Wat</span> doet Reconcept?
      </h2>

      <ul class="list">
        <li>Bij Reconcept maken we een Saas-platform voor skillsgericht opleiden: een vernieuwende manier van opleiden waarbij we persoonlijke skills direct matchen met de beroepspraktijk. We ondersteunen bedrijven en onderwijsinstellingen om mensen zo op te leiden dat ze sneller inzetbaar zijn in de praktijk. 
        </li>
        <li>Daarmee helpen we met het oplossen van een gigantisch maatschappelijk probleem: de toenemende tekorten op de arbeidsmarkt. Onze klanten zijn onder andere grote Nederlandse ziekenhuizen en hogescholen. 
        </li>
        <li>Meer dan 80 grote organisaties en onderwijsinstellingen gebruiken Reconcept met meer dan 25.000 gebruikers
        </li>
      </ul>

    </div>

  </div>

</section>
