<section class="spaced">
  <div class="alternating row">

    <div class="col">

      <h2>
        Wat we je <span class="purple highlight">bieden</span>
      </h2>
      

      <p>
        <ul class="list">
          <li>
            Leuk contact met je collega’s
          </li>
          <li>
            Motiverende werksfeer in een snelgroeiend SAAS-bedrijf. 
          </li>
          <li>
            Werken aan een grote applicatie met 10.000+ gebruikers
          </li>
          <li>
            Zeer goed salaris
          </li>
          <li>
            De legendarische Reconcept-trui
          </li>
          <li>
            Een laptop, headphones of wat je ook maar nodig hebt
          </li>
          <li>
            Een fantastisch kantoor met uitzicht over Groningen
          </li>
          <li>
            25 + 12 vakantie dagen per jaar
          </li>
          <li>
            Aansluiting bij onze pensioenregeling
          </li>
          <li>
            Ruim budget voor professionele ontwikkeling
          </li>
          
        </ul>
      </p>

    </div>

    <div class="col">
      <img src="/photos/movie.jpg"/>
    </div>

  </div>
</section>
