  <section class="spaced">
    <div class="alternating row">

      <div class="col">

        <h2>
          <span class="blue highlight">Waarom</span> bij Reconcept?
        </h2>

        <p>
          Bij Reconcept maken we medische apps die artsen helpen zichzelf te ontwikkelen.
        </p>
  
        <p>
          Ons hoofdproduct Reconcept Portfolio is een online skills platform voor artsen
          dat wordt gebruikt door meer dan 70 ziekenhuizen door meer dan 10.000 artsen om
          dagelijks hun kennis en vaardigheden te verbeteren.
        </p>
  
        <p>
          Door middel van deze web- en mobiele app kunnen artsen in opleiding hun studie bijhouden en elkaar feedback geven. 
          Omdat de applicatie ondersteunend moet zijn aan het leerproces, is het van belang om het voor de gebruiker zo gemakkelijk mogelijk te maken.
          De opleider gebruikt de applicatie om de voortgang van de arts in opleiding bij te houden en aan te sturen waar mogelijk.        
        </p>
  
        <p>
          Reconcept Portfolio heeft sinds 2016 de manier van medisch opleiden in Nederland flink opgeschud.
          We krijgen veel complimenten over de grote gebruiksvriendelijkheid van ons product, en daar zijn we trots op!
        </p>

      </div>

      <div class="col">
        <div class="video">
          <iframe src="https://player.vimeo.com/video/279012152?autoplay=0&color=27BAFF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </section>