<section class="rcp-section">
  <div class="rcp-container">
    <div class="alternating row">

      <div class="col">

        <h2>
          Wat krijg je <span class="purple highlight">ervoor terug</span>?
        </h2>
        

        <p>
          <ul class="list">
            <li>
              Een uitstekend salaris
            </li>
            <li>
              Flexibel thuis of op kantoor werken
            </li>
            <li>
              Motiverende sfeer in een snelgroeiend SaaS-bedrijf.
            </li>
            <li>
              Werken aan een grote applicatie met 50.000+ gebruikers
            </li>
            <li>
              Een leuk team met gedreven en ondernemende collega's
            </li>
          </ul>
        </p>

        <p>
          <h3>
            En verder:
          </h3>
          <ul class="list">
            <li>
              De legendarische Reconcept-trui
            </li>
            <li>
              Een laptop, headphones of wat je ook maar nodig hebt
            </li>
            <li>
              Een fantastisch kantoor met uitzicht over Groningen
            </li>
            <li>
              25 + 12 vakantie dagen per jaar
            </li>
            <li>
              Aansluiting bij onze pensioenregeling
            </li>
            <li>
              Ruim budget voor persoonlijke ontwikkeling
            </li>
            
          </ul>
        </p>

      </div>

      <div class="col">
        <img src="/photos/venturelab.jpg"/>
      </div>

    </div>
  </div>
</section>
