<section class="spaced gray padded">
  <div class="row">
    <div class="col">
      <h2>
        Hoe ziet de sollicitatieprocedure eruit?
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col step-number">
      1
    </div>

    <div class="col">
      <h3>
        Persoonlijk gesprek
      </h3>
      <p>
        We maken informeel kennis bij ons op kantoor. Je kunt een aantal collega's ontmoeten. Meestal is een van de oprichters hierbij.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col step-number">
      2
    </div>

    <div class="col">
      <h3>
        Meeloopdag
      </h3>
      <p>
        We vinden een moment waarop je een aantal uren kunt meelopen met het team. Je kunt denken aan een algemene introductie in onze werkwijze en codebase en een stukje pair programming.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col step-number">
      3
    </div>

    <div class="col">
      <h3>
        Referenties
      </h3>
      <p>
        We willen graag een collega en een leidinggevende van een of twee voormalige werkgevers spreken om een volledig beeld te krijgen van wie je bent.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col step-number">
      4
    </div>

    <div class="col">
      <h3>
        Aanbod
      </h3>
      <p>
        Je krijgt van ons een aanbod, dat we in dit gesprek bespreken. We sturen het aanbod van tevoren naar je toe, zodat je eventuele vragen kunt voorbereiden.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col step-number">
      5
    </div>

    <div class="col">
      <h3>
        Hoera!
      </h3>
      <p>
        We tekenen je contract en stemmen de startdatum af. Je krijgt je laptop en andere nodige items een aantal dagen van tevoren, zodat je een vliegende start kunt maken.
      </p>
    </div>
  </div>
</section>
  