

        <div class="awards">

          <div class="award">
            <img src="/awards/gazellen.jpg"/>
            <div class="description">
              FD Gazelle 2022, 2023 en 2024
            </div>
          </div>
          
          <div class="award">
            <img src="/awards/jop.jpg"/>
            <div class="description">
              Finalist van de Jonge Ondernemersprijs 2022
            </div>
          </div>
          
          <div class="award">
            <img src="/awards/main50.png"/>
            <div class="description">
              Nr. 23 in de Main Software 50 Benelux 2022
            </div>
          </div>

          <div class="award">
            <img src="/awards/saas100.jpg"/>
            <div class="description">
              Nr. 37 in de MT/Sprout Saas100 2023
            </div>
          </div>

        </div>