

<section class="rcp-section">
  <div class="rcp-container">
  <div class="alternating row">

    <div class="col">
      <h2>
        Onze stack
      </h2>
      <p>
        Technisch spelen we mee op het hoogste niveau.
        We kiezen voor robuuste technieken om een perfecte gebruikerservaring te garanderen.
        Om de beste producten te maken voor onze klanten maken we alles hier in huis op basis van beproefde frameworks,
        zodat we niet afhankelijk zijn van bestaande software.
      </p>
      <p class="line-height">
        <a href="https://angular.io/" target="_blank" class="red padded highlight">Angular</a>
        <a href="https://ionicframework.com/" target="_blank" class="bright-blue padded highlight">Ionic</a>
        <a href="https://graphql.org/" target="_blank" class="blue padded highlight">GraphQL</a>
        <a href="https://rubyonrails.org/" target="_blank" class="red padded highlight">Ruby on Rails</a>
        <!-- <span class="green padded highlight">TypeScript</span> -->
        <!-- <span class="purple padded highlight">Serenity BDD</span>
        <span class="blue padded highlight">CI/CD</span> -->
      </p>
    </div>

    <div class="col">
      <img src="/photos/team4.jpg"/>
    </div>

  </div>
  </div>
</section>