
<section class="spaced">
  <div class="row">

    <div class="col">

      <h2>
        <span class="blue highlight">Wat</span> doet Reconcept?
      </h2>

      <ul class="list">
        <li>
          We maken een digitaal portfolio (web+app) voor (medische) praktijkopleidingen
        </li>
        <li>
          Artsen en verpleegkundigen leggen praktijkervaring en verzamelde feedback vast in onze handige app
        </li>
        <li>
          De helft van de medisch specialisten in Nederland wordt opgeleid in Reconcept
        </li>
        <li>
          Meer dan 70 ziekenhuizen, zorginstellingen en hogescholen gebruiken Reconcept
        </li>
        <li>
          Meer dan 15.000 medisch specialisten en verpleegkundigen (in opleiding) gebruiken Reconcept
        </li>
        <li>
          Onze userbase blijft hard groeien
        </li>
      </ul>

    </div>

  </div>

</section>
