
</div>

<section class="spaced dark padded">
  <div class="container">
    <div class="row">

      <div class="col center">
          
        <h2>
          Kijk rond op je <span class="">nieuwe werkplek</span>
        </h2>
        <p>
          Dit is ons kantoor op de vijfde verdieping van de Peizerweg 87.
        </p>

        <div class="tour-embed-container">
          <iframe id="virtualTour" class="ku-embed" frameborder="0" allowfullscreen allow="xr-spatial-tracking; gyroscope; accelerometer" scrolling="no" src="https://kuula.co/share/collection/7YChF?fs=1&vr=0&zoom=1&thumbs=1&inst=nl&info=1&logo=1"></iframe>
        </div>

        <p class="center muted">
          <br/>
          Met dank aan <a href="https://www.kooistrafeenstra.nl/" target="_blank">Kooistra Feenstra Bedrijfsmakelaars</a>.
        </p>
        
      </div>

    </div>
  </div>
</section>

<div class="container">

  <section class="spaced">
    <div class="alternating row">

      <div class="col">
        <h2>
          Word jij onze nieuwe <span class="highlight green">collega</span>?
        </h2>
        
        <p class="quote">
          We zijn op zoek naar gedreven collega's die een verschil
          willen maken. Gebruik je talent om de gezondheidszorg te
          verbeteren voor professionals en patiënten.
        </p>

        <p class="">
          Bij Reconcept werken we in een ontspannen sfeer met een
          gepassioneerd team aan uitdagende projecten. Doordat we aan ons
          eigen platform bouwen, heb je veel vrijheid en inspraak. Daarbij
          hoort ook veel verantwoordelijkheid. Past dit bij jou?
        </p>

        <div class="author">
          <img class="avatar" src="/photos/jurgen.jpg"/>
          <div class="labels">
            <div class="name">
              Jürgen Visser
            </div>
            <div>
              Oprichter
            </div>
          </div>
        </div>
        
      </div>

      <div class="col">
        <img src="/photos/4mijl.jpg"/>
      </div>

    </div>
  </section>