<section class="spaced">
  <div class="alternating row">

    <div class="col">
      <h2>
        Onze stack
      </h2>
      <p>
        Technisch spelen we mee op het hoogste niveau.
        We kiezen voor robuuste technieken om een perfecte gebruikerservaring te garanderen.
      </p>
      <p class="larger line-height">
        <span class="red padded highlight">Angular</span>
        <span class="blue padded highlight">GraphQL</span>
        <span class="red padded highlight">Ruby on Rails</span>
        <span class="green padded highlight">TypeScript</span>
        <span class="bright-blue padded highlight">Ionic</span>
        <span class="purple padded highlight">Serenity BDD</span>
        <span class="blue padded highlight">CI/CD</span>
      </p>
    </div>

    <div class="col">
      <img src="/photos/peizerstate.jpg"/>
    </div>

  </div>
</section>

<section class="spaced">
  <div class="alternating row">

    <div class="col">
      <h2>
        Word jij onze nieuwe <span class="highlight green">collega</span>?
      </h2>
      
      <p class="quote">
        We zijn op zoek naar gedreven collega's die een verschil
        willen maken. Gebruik je talent om de gezondheidszorg te
        verbeteren voor professionals en patiënten.
      </p>

      <p class="">
        Bij Reconcept werken we in een ontspannen sfeer met een
        gepassioneerd team aan uitdagende projecten. Doordat we aan ons
        eigen platform bouwen, heb je veel vrijheid en inspraak. Daarbij
        hoort ook veel verantwoordelijkheid. Past dit bij jou?
      </p>

      <div class="author">
        <img class="avatar" src="/photos/jurgen.png"/>
        <div class="labels">
          <div class="name">
            Jürgen Visser
          </div>
          <div>
            Oprichter
          </div>
        </div>
      </div>
      
    </div>

    <div class="col">
      <img src="/photos/team.jpg"/>
    </div>

  </div>
</section>