<section class="spaced">
  <div class="alternating row">

    <div class="col">

      <h2>
        Wat krijg je <span class="purple highlight">ervoor terug</span>?
      </h2>
      

      <p>
        <ul class="list">
          <li>
            Flexibel thuis of op kantoor werken
          </li>
          <li>
            Motiverende sfeer in een snelgroeiend SAAS-bedrijf.
          </li>
          <li>
            Werken aan een grote applicatie met 15.000+ gebruikers
          </li>
          <li>
            Een leuk team met gedreven en ondernemende collega's
          </li>
        </ul>
      </p>

      <p>
        <h3>
          En verder:
        </h3>
        <ul class="list">
          <li>
            De legendarische Reconcept-trui
          </li>
          <li>
            Een fantastisch kantoor met uitzicht over Groningen
          </li>          
        </ul>
      </p>

    </div>

    <div class="col">
      <img src="/photos/venturelab.jpg"/>
    </div>

  </div>
</section>
