
</div>

<section class="spaced dark padded">
  <div class="container">
    <div class="row">

      <div class="col center">

        <h2>
          Snel ontdekken <span class="">wat we doen?</span> Bekijk de video!
        </h2>

        <div class="larger video">
          <iframe src="https://player.vimeo.com/video/279012152?autoplay=0&color=27BAFF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="container">