{{ define "main" }}

  <section class="rcp-section gray">
    <div class="rcp-container">
      <div class="blog-header">
        <h1>
          {{ .Title }}
        </h1>
        <p class="blog-date">
          {{ .Date | time.Format ":date_long" }}
          -
          door {{ .Params.author }}
        </p>
        <p class="blog-description">
          {{ .Description }}
        </p>
        <div class="blog-featured-image" style="background-image: url(/{{ .Params.featured_image }})"></div>

      </div>
    </div>
  </section>

  <section class="rcp-section">
    <div class="rcp-container blog-content">
      {{ .Content }}
    </div>
  </section>

{{ end }}
